@import "../../themes.scss";

.ServiceContent {
    background-color: $primary-font;
    width: 100%;
    height: 46px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    position: relative;
    cursor: pointer;
  
    &-risk {
      width: 100%;
      height: 8px;
      position: absolute;
      z-index: 1; 
      
  
      &-low {
        background-color: $low-risk-color;
      }
      &-medium {
        background-color: $medium-risk-color;
      }
      &-high {
        background-color: $high-risk-color;
      }
    }

    &-value {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        padding-top: 17px;
        padding-left: 25px;
        padding-right: 10px;
    }
  }