@import "../../themes.scss";

.HomeMetrics{
    margin-top: 8px;
    font-size: 14px;
    
    &_values {
        display: flex;
        gap: 15px;
        font-size: 12px;
        font-family: 'Courier New', Courier, monospace;
        color: $high-risk-color;
        font-weight: 600;
    }

    &_system-info {
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;
        font-size: 16px;
        float: right;
        right: 1;
        gap: 3px;
    }
}