@import '../../themes.scss';

.Header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: $blue-dark;
    color: $primary-font;
    height: 60px;
}
