$primary-font: #fff;
$secondary-font: #000;
$blue-dark: rgba(3, 12, 44, 0.9);
$gray-color: rgba(112, 112, 112, 0.7);
$background-content-color: #f5f5f5;
$background-color: #ecf0f1;
$low-risk-color: rgba(21, 81, 237, 0.7);
$medium-risk-color: rgba(211, 114, 0, 0.7);
$high-risk-color: rgba(255, 19, 19, 0.7);